/* @font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway-variable-font.woff2")
      format("woff2 supports variations"),
    url("/fonts/raleway-variable-font.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: fallback;
} */

:root {
  --color-white: hsl(0deg 0% 100%);
  --color-offblack: "hsl(24deg 5% 6%)";
  --color-gray-100: hsl(40deg 12% 95%);
  --color-gray-300: hsl(35deg 8% 80%);
  --color-gray-500: hsl(30deg 4% 60%);
  --color-gray-700: hsl(28deg 5% 40%);
  --color-gray-900: hsl(24deg 6% 10%);
  --color-primary: hsl(224deg 30% 40%);
  --color-secondary: hsl(180deg 34% 37%);
  --color-urgent: hsl(0deg 55% 54%);
  --color-success: hsl(144deg, 90%, 30%);

  --font-weight-normal: 400;
  --font-weight-medium: 550;
  --font-weight-bold: 700;

  --height-header: 100px;
  /* --font-family-serif: ${FAMILIES.serif};
  --font-family-sans-serif: ${FAMILIES.sansSerif};
  --font-family-logo: ${FAMILIES.logo}; */

  --z-header: 1;

  --shadow-standard: 0px 0px 15px 3px rgba(0, 0, 0, 0.075);
  --shadow-raised: 0px 0px 20px 6px rgba(0, 0, 0, 0.05);
  --shadow-button: 0px 10px 13px -7px rgba(0, 0, 0, 0.5),
    5px 5px 15px 5px rgba(0, 0, 0, 0);

  --transition-standard: 0.3s ease-out;
}

@media (max-width: 600px) {
  :root {
    --height-header: 80px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--color-white);
  color: var(--color-gray-900);
}

html,
body,
#app {
  height: 100%;
}

#app {
  isolation: isolate;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@media (max-width: 1300px) {
}
@media (max-width: 950px) {
}
